{% extends "base.html" %} {% block body %}
<h1 align="center">Post Recipe</h1>

<form method="POST">
  <textarea
    name="title"
    id="title"
    class="form-control"
    placeholder="title"
  ></textarea>
  <br />
  <div class="row">
    <div class="col">
      <textarea
        name="text"
        id="text"
        class="form-control"
        placeholder="text"
      ></textarea>
    </div>
    <div class="col">
      <textarea
        name="ingredients"
        id="ingredients"
        class="form-control"
        placeholder="ingredients"
      ></textarea>
    </div>
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-lg btn-primary">Post</button>
  </div>
</form>
<br />
<div align="center">
  <a href="/all-recipes"
    ><button type="button" class="btn btn-lg btn-secondary">Back</button></a
  >
</div>
{% endblock %}
